#
# Python libraries needed for project general use.
#

# Notes:
#  Install 'pip-tools' python package to virtual environment.
#  Use pip-tools 'pip-compile' command to create 'requirements.txt' file.
#  Use pip-tools 'pip-sync' command to sync libraries to virtual environment.
#

## Include requirements file for app-engine.std micro services.
-r app_engine_std/requirements.in

## Include requirements file for cloud-function micro services.
-r cloud_functions/requirements.in

## Include the python-aou-cloud-services project
-e git+ssh://git@github.com/all-of-us/python-aou-cloud-services.git#egg=aou_cloud
# -e ../python-aou-cloud-services

# Package Management
pip-tools

## PostgreSQL
psycopg

## MySQL
# mysqlclient

## Misc
python-dateutil
# These are the latest versions of pandas and numpy that Google has available as of 5/23/22.
pandas>=1.3.5
numpy>=1.21.6
sqlparse
python-easy-json>=1.0.6
networkx>=2.8.6

Jinja2
python-dotenv
lxml
pre-commit

## Jupyter Notebook IPython Kernel
ipykernel

## Google
google-cloud-pubsub

# Zendesk API support
zenpy